{% load static %}
<!-- JavaScript files-->
<script src="{% static 'web/echarts/echarts.min.js' %}"></script>
<div id="point" style="width: 350px;height:300px;"></div>
<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('point'));

    // 指定图表的配置项和数据
    var option = {
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'cross',
                crossStyle: {
                    color: '#999'
                }
            }
        },
        toolbox: {
            feature: {
                dataView: {show: true, readOnly: false},
                magicType: {show: true, type: ['line', 'bar']},
                restore: {show: true},
                saveAsImage: {show: true}
            }
        },
        legend: {
            data: ['分数', '分数']
        },
        xAxis: [
            {
                type: 'category',
                name: '测试\n次数',
                data:'测试时间近>远',
                axisPointer: {
                    type: 'shadow'
                }
            }
        ],
        yAxis: [
            {
                type: 'value',
                name: '分数',
                axisLabel: {
                    formatter: '{value}'
                }
            },
        ],
        series: [
            {
                name: '分数',
                type: 'bar',
                data: [{{ score.score.6.score }}, {{ score.score.5.score }}, {{ score.score.4.score }}, {{ score.score.3.score }},
                    {{ score.score.2.score }}, {{ score.score.1.score }}, {{ score.score.0.score }}],
                color: '#e8666c',
            },
            {
                name: '分数',
                type: 'line',
                data: [{{ score.score.6.score }}, {{ score.score.5.score }}, {{ score.score.4.score }}, {{ score.score.3.score }},
                    {{ score.score.2.score }}, {{ score.score.1.score }}, {{ score.score.0.score }}],
                color: '#6ee8d2',
            }
        ],
        color: '#21'
    };


    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
</script>