{% extends 'web/login/base.html' %}
{% block head %}{% endblock %}

{% block content %}
    <div class="page login-page">
      <div class="container d-flex align-items-center">
        <div class="form-holder has-shadow">
          <div class="row">
            <!-- Logo & Information Panel-->
            <div class="col-lg-6">
              <div class="info d-flex align-items-center">
                <div class="content">
                  <div class="logo">
                    <h1>抑郁症移动辅助治疗APP</h1>
                  </div>
                  <p>登录</p>
                </div>
              </div>
            </div>
            <!-- Form Panel    -->
            <div class="col-lg-6 bg-white">
              <div class="form d-flex align-items-center">
                <div class="content">
                  <form method="post" class="form-validate">
                      {% csrf_token %}
                      {% if message %}
                          <div class="alert alert-warning">{{ message }}</div>
                      {% endif %}
                    <div class="form-group">
                      <input id="login-username" type="text" name="username" required data-msg="Please enter your username" class="input-material">
                      <label for="login-username" class="label-material">User Name</label>
                    </div>
                    <div class="form-group">
                      <input id="login-password" type="password" name="password" required data-msg="Please enter your password" class="input-material">
                      <label for="login-password" class="label-material">Password</label>
{#                    </div><a id="login" href='{% url 'web:index' %}' class="btn btn-primary" >Login</a>#}
                    <!-- This should be submit button but I replaced it with <a> for demo purposes-->
                    </div>
                      <button type="submit" class="btn btn-primary">Login</button>

                  </form>
                    <a href="#" class="forgot-pass">Forgot Password?</a><br><small>Do not have an account? </small><a href="{% url 'web:signup' %}" class="signup">Signup</a>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="copyrights text-center">
        <p>Design by <a href="#" class="external">河北工业大学</a>
          <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
        </p>
      </div>
    </div>
{% endblock %}
